In [1]:
import pandas as pd

In [2]:
# 2 main data types
series = pd.Series(['BMW', 'Toyota', 'Honda'])

In [12]:
colours = pd.Series(['red', 'blue', 'white'])

In [13]:
#series is one-dimensional (one column) #dataframe = 2-dimensional (rows/ columns

In [24]:
car_data = pd.DataFrame({'Car Make': series, 'Colour': colours, 'Colour2': colours})

In [25]:
car_data

  Car Make Colour Colour2
0      BMW    red     red
1   Toyota   blue    blue
2    Honda  white   white

In [26]:
#usually you import data
car_sales = pd.read_csv('car-sales.csv')

In [27]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [28]:
#axis=0 is row/x. axis=1 is column/y

In [31]:
#exporting a data frame
car_sales.to_csv('exported-car-sales.csv', index=False)

In [32]:
exported_car_sales = pd.read_csv('exported-car-sales.csv')
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

## Describing Data

In [33]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [34]:
car_columns = car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [39]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [126]:
car_prices = [price for price in str(car_sales.Price).split()]

cleaned_prices = []

for price in car_prices:
    # checking for dollar sign so I can throw out whatever isn't a price
    if '$' in price:
        cleaned_price = []
        #removing all non-numeric characters from remaining prices
        for char in price:
                if char.isnumeric():
                    cleaned_price.append(char)
    #here I'm removing the zeroes that were after each decimal point and turning each price into an integer
    #if any of the numbers after the decimal point were not zero (or if they hadn't all had 2 decimal places) this wouldn't really work.
    cleaned_prices.append(int(''.join(cleaned_price[:-2])))

print(cleaned_prices)

[9700, 4000, 4000, 5000, 5000, 7000, 7000, 22000, 22000, 3500, 3500, 4500, 4500, 7500, 7500, 7000, 7000, 6250, 6250, 9700, 9700, 9700, 9700, 9700]

In [125]:
price_series = pd.Series([i for i in cleaned_prices])

price_series.min()

#it's sum(list) but series.sum()

3500

In [136]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [135]:
car_sales.tail()

     Make Colour  Odometer (KM)  Doors      Price
5  Toyota  Green          99213      4  $4,500.00
6   Honda   Blue          45698      4  $7,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

In [145]:
# .loc and .iloc
animals = pd.Series(['cat','duck','dickiebird','booby'], index=[9, 0, 5, 3])

In [152]:
#.loc returns the item assigned to each index while .iloc returns items according to their position in the series

animals.loc[9]

'cat'

In [151]:
animals.iloc[0]

'cat'

In [156]:
#just calling and index defaults to .loc. that's weird

animals[0]

'duck'

In [157]:
# if indices are duplicated both calling them normally and using .loc will return all items with same index, while .iloc still respects the order

stuff = pd.Series(['cat','duck','dickiebird','booby'], index=[9, 9, 9, 9])

stuff[9]

9           cat
9          duck
9    dickiebird
9         booby
dtype: object

In [158]:
stuff.loc[9]

9           cat
9          duck
9    dickiebird
9         booby
dtype: object

### in other words iloc returns position (which doesn't have to correspond with index) while loc returns index

In [162]:
stuff2 = pd.Series(['cat','duck','dickiebird','booby'], index=[0, 1, 2, 3])


stuff2.loc[:3]

0           cat
1          duck
2    dickiebird
3         booby
dtype: object

In [161]:
stuff2.iloc[:3]

0           cat
1          duck
2    dickiebird
dtype: object

##### loc includes the item at the position you're counting up to but iloc excludes anything at the final index. isn't that weird.

anyways

In [173]:

print('poop')
car_sales['Make']
car_sales['Colour']

poop
poop

###### apparently a cell can only "return" one thing per cell if you just write its name out there and it's the last thing, but if you try to print something after that it doesn't work. this is also weird

car_sales['Make'] and car_sales.Make are the same, but you can't have a space in the column name if you're using the latter syntax

# you can use a boolean just like this

In [176]:
car_sales[car_sales['Make'] == 'Toyota']

KeyError: 0